body {
    background-color: #D9D0B4;
    font-family: monospace;
}

.top-container>*,
.location-container>* {
    font-family: monospace;
}

h1 {
    color: #D9D0B4;
    background-color: #364559;
    top: 0;
    padding: 10px;
}

.bold {
    font-weight: 700;
}

.top-container {
    margin-bottom: 20px;
}

.location-container {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: #D9D0B4;
    background-color: #364559
}


/***********helpers******/

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}