body {
    background-color: #d9d0b4;
    font-family: monospace;
    margin: 0;
}

.top-container>*,
.location-container>* {
    font-family: monospace;
    margin-bottom: 20px;
}

.wrapper {
    padding: 20px;
}

.logo {
    color: #d9d0b4;
    background-color: #364559;
    top: 0;
    padding: 20px;
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    flex-flow: column wrap;
}

.map-container {
    width: 100%;
}

.my-btn.search {
    margin-left: 10px;
}

.my-btn.copy-location {
    margin-left: 10px;
}

.location-name {
    font-size: 1rem;
}

.bold {
    font-weight: 700;
    font-size: 1.5rem;
}

footer {
    bottom: 0;
    text-align: center;
    padding: 20px;
    display: block;
    color: #d9d0b4;
    background-color: #364559;
}


/** components */

.my-btn {
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 25px;
    box-shadow: 0px 0 1px 0px #333;
}

.my-btn.primary {
    background-color: #364559;
    color: white;
}

.my-btn.secondery {
    background-color: white;
    color: #364559;
}

.my-input,
.my-select {
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 10px;
    transition: all 0.25s;
    text-transform: capitalize;
}

.my-input:focus {
    outline: none;
    box-shadow: inset 0 1px 2px #36455978;
}


/***********helpers******/

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}


/** resseters **/

button {
    border: none;
    outline: none;
}