body {
  background-color: #d9d0b4;
  font-family: monospace;
  margin: 0;
}

.top-container > *,
.location-container > * {
  font-family: monospace;
}
.wrapper {
  padding: 20px;
}

.logo {
  color: #d9d0b4;
  background-color: #364559;
  top: 0;
  padding: 20px;
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.top-container {
  margin-bottom: 20px;
}

.location-container {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.weather-container {
    border: grey 1px solid;
}

footer {
  bottom: 0;
  text-align: center;
  padding: 20px;
  display: block;
  color: #d9d0b4;
  background-color: #364559;
}

/***********helpers******/

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}
